{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Cursos/Disciplinas{% endblock %}

{% block main %}

{% csrf_token %}
<div class="container">
        <table style="margin-top:70px" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Curso</th>
                <th scope="col">Preceptor</th>
                <th scope="col">Excluir</th>
            </tr>
            </thead>

            <tbody>
            {% for estagio in estagios %}
            <tr>
                <th scope="row"></th>
                <td><a href="{% url 'estagioupdate' estagio.id %}">{{ estagio.Disciplina }}</a></td>
                <td>{{ estagio.Curso }}</td>
                <td>{{ estagio.Preceptor }}</td>
                <td><a class="badge badge-danger" href="{% url 'estagiodelete' estagio.id %}">Excluir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-dark" href="{% url 'estagiocreate'  %}">Nova Disciplina</a>


    </div>

    {% endblock %}




