{% extends 'base.html' %}

{% load static %}


{% load bootstrap %}

{% block title %}Atualizar{% endblock %}

{% block main %}
<section class="aw-layout-content  js-content">
    <form method="POST" style="padding-top:70px">
        {% csrf_token %}
        <div class="container">
            <h1>Informações do Estagiário:</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Disciplina|bootstrap }}
                </div>


                <div class="form-group col-md-6">
                    {{ form.Curso|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.Preceptor|bootstrap }}
                </div>

                <div class="form-group col-md-4">
                    {{ form.Turno|bootstrap }}
                </div>

                <div class="form-group col-md-4">
                    {{ form.Quantidade|bootstrap }}
                </div>
                <div class="form-group col-md-5">
                    {{ form.Custo_por_Disciplina|bootstrap }}
                </div>
            </div>
            <button class="btn btn-dark" type="submit">Alterar</button>
            <a class="btn btn-dark" href="{% url 'estagiolista'  %}">Voltar</a>
        </div>
    </form>
    {% endblock %}

