{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Formulário{% endblock %}

{% block main %}
<form method="POST" style="padding-top:80px">
        {% csrf_token %}
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Disciplina|bootstrap }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.Curso|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    {{ form.Preceptor|bootstrap }}
                </div>

                <div class="form-group col-md-2">
                    {{ form.Turno|bootstrap }}
                </div>

                <div class="form-group col-md-5">
                    {{ form.Quantidade|bootstrap }}
                </div>
            </div>
            <div class="form-group col-md-5">
                {{ form.Custo_por_Disciplina|bootstrap }}
            </div>

        <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
        </div>
    </form>
    {% endblock %}