{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Atualizar{% endblock %}

{% block main %}

<section class="aw-layout-content  js-content">
<table style="margin-top:65px" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Matricula</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <th scope="row"></th>
            <td><a href="{% url 'estagioupdate' estagio.id %}">{{ estagio.Nome_Completo }}</a></td>
            <td>{{ estagio.Curso }}</td>
            <td>{{ estagio.Matricula }}</td>
            <td><a href="{% url 'estagiodelete' estagio.id %}">Delete</a></td>
        </tr>

        </tbody>
    </table>
    <a class="btn btn-dark" href="{% url 'estagiocreate'  %}">Criar</a>
{% endblock %}