{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Estagiario/List{% endblock %}

{% block main %}

{% csrf_token %}
<div class="container">
        <table style="margin-top:70px" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Matricula</th>
                <th scope="col">Disciplina</th>
                <th scope="col">CPF</th>
                <th scope="col">Curso</th>
                <th scope="col">Excluir</th>
            </tr>
            </thead>

            <tbody>
            {% for Estagiario in estagiarios %}
            <tr>
                <th scope="row"></th>
                <td><a href="{% url 'estagiarioUpdate' Estagiario.id %}">{{ Estagiario.Nome }}</a></td>
                <td>{{ Estagiario.Matricula }}</td>
                <td>{{ Estagiario.Disciplina }}</td>
                <td>{{ Estagiario.CPF }}</td>
                <td>{{ Estagiario.Curso }}</td>
                <td><a class="badge badge-danger" href="{% url 'estagiarioDelete' Estagiario.id %}">Excluir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-dark" href="{% url 'estagiarioCreate'  %}">Novo Estagiario</a>


    </div>

    {% endblock %}
