{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %} DELETAR? {% endblock %}

{% block main %}
<section class="aw-layout-content  js-content">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <h1>Deseja deletar?</h1>

            <button class="btn btn-dark" type="submit">Sim</button>
            <a class="btn btn-dark" href="{% url 'estagiarioList' %}">Cancelar</a>
        </div>
    </form>
    {% endblock %}