{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>UNIPÊ</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/algaworks.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="aw-layout-simple-page">
<div class="aw-layout-simple-page__container">
    <form method="POST">
        <div class="aw-simple-panel">
            <img src="https://unipe.edu.br/img/logo_unipe_cruzeiro_02.svg" alt="Unipê" class="img-responsive logoUnipe"
                 style="width: 15000000px;">

            <div class="aw-simple-panel__message" id="instrucoes">
                CONTROLE DE DADOS E ANÁLISE DE ESTÁGIOS
            </div>

            <div class="aw-simple-panel__box">
                <div class="form-group  has-feedback">
                    {% csrf_token %}
                    {{form.username|bootstrap}}
                    {{form.password|bootstrap}}
                    <button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width">Entrar</button>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group clearfix">
                    <div class="pull-right">
                        <a href="esqueceu-a-senha.html">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/vendors.min.js' %}"></script>
<script src="{% static 'js/algaworks.min.js' %}"></script>
</body>
</html>