{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}s{% endblock %}</title>
    <!-- fontes para este template -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- styles para este template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Wrapper de Página -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
            <div class="sidebar-brand-icon">
                <img src="https://unipe.edu.br/img/logo_unipe_cruzeiro_02.svg" alt="Unipê"
                     class="img-responsive logoUnipe" style="width:100px;">
            </div>
        </a>
        <!-- Divisor -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divisor -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Menu de recolhimento de páginas -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-folder"></i>
                <span>Estágio</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'conveniocreate' %}">Cadastro</a>
                    <a class="collapse-item" href="{% url 'conveniolista' %}">Tabela</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Menu Recolher Utilitários -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-bookmark"></i>
                <span>Curso</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'estagiocreate' %}">Cadastro</a>
                    <a class="collapse-item" href="{% url 'estagiolista' %}">Tabela</a>
                </div>
            </div>
        </li>

       <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-bookmark"></i>
                <span>Estagiario</span>
            </a>
            <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'estagiarioCreate' %}">Cadastro</a>
                    <a class="collapse-item" href="{% url 'estagiarioList' %}">Tabela</a>
                </div>
            </div>
        </li>

        <!-- Divisor -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">

        </div>
        <!-- Nav Item - Menu de recolhimento de páginas -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-hospital-alt"></i>
                <span>Convênio</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="convenio-formulario.html">Cadastro</a>
                    <a class="collapse-item" href="{% url 'logout' %}">Tabela</a>
                    <div class="collapse-divider"></div>
                </div>
            </div>
        </li>
        <!-- Divisor -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- Fim da Sidebar -->
    <!-- Wrapper de Conteúdo -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Conteúdo principal -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <!-- Dropdown -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                          <a href="{% url 'logout' %}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                                ></i>
                                Sair
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Fim do Topbar -->
            <!-- Início do conteúdo da página -->

            {% block main %} {% endblock %}
            <!--Fim da barra de navegação-->

            <footer>
                <!-- Bootstrap core JavaScript-->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <!-- Core plugin JavaScript-->
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
                <!-- Custom scripts for all pages-->
                <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
                <!-- Page level plugins -->
                <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
                <!-- Page level custom scripts -->
                <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
                <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
            </footer>
            <!-- Fim do Footer -->
            </div>

        </div>
 <!-- Wrapper de fim de página -->
  <!-- Role para o botão superior-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


</body>
</html>