{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Cursos/Disciplinas{% endblock %}

{% block main %}

{% csrf_token %}
<form action="">
    <section class="aw-layout-content  js-content">
        <div class="container">
            <div class="row" style="margin-top:50px">
                Pesquisar: <input name="pesquisa" id="pesquisa" placeholder="Pesquisar" type="text" name="pesquisar">
                <button class="btn btn-dark">Pesquisar</button>
            </div>
            <table style="margin-top:70px" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Convenio</th>
                    <th scope="col">Preceptor</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Excluir</th>


                </tr>
                </thead>
                <tbody>
                {% for convenio in convenios %}
                <tr>
                    <th scope="row"></th>
                    <td><a href="{% url 'convenioupdate' convenio.id %}">{{convenio.Convenios}}</a></td>
                    <td>{{ convenio.Preceptor }}</td>
                    <td>{{ convenio.Instituição }}</td>
                    <td><a href="{% url 'conveniodelete' convenio.id %}">Excluir</a></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-dark" href="{% url 'conveniocreate'  %}">Novo Convenio</a>
        </div>
</form>

{% endblock %}
