{% extends 'base.html' %}

{% load static %}


{% load bootstrap %}

{% block title %}Atualizar{% endblock %}

{% block main %}
<section class="aw-layout-content  js-content">
    <form method="POST" style="padding-top:70px">
        {% csrf_token %}
        <div class="container">
            <h1>Informações do Estagiário:</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Convenios|bootstrap }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.Preceptor|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Distritos|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Instituição|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Endereço|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Supervisor_de_Estágio|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Estagiários|bootstrap }}
                </div>
            </div>
            <button class="btn btn-dark" type="submit">Alterar</button>
            <a class="btn btn-dark" href="{% url 'conveniolista'  %}">Voltar</a>
        </div>
    </form>
    {% endblock %}
