{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Formulário{% endblock %}

{% block main %}


<section class="aw-layout-content  js-content">
    <form method="POST" style="padding-top:80px">
        {% csrf_token %}
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Convenios|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Distritos|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.Preceptor|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Instituição|bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.Endereço|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.Supervisor_de_Estágio|bootstrap }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.Estagiários|bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
    </form>
{% endblock %}